body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: fit-content;
    box-sizing: border-box;
}
header {
    background-color: rgb(10, 15, 26);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 24px;
}
.navbar  {
    background-color: #313131;
    overflow: hidden;
    text-align: center;
}
.navbar a {
    color: white;
    padding: 14px 20px;
    display: inline-block;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #555;
}
a:visited {
    color: #aebece;
  }
  a:focus {
    color: #ff0000;
  }
  a:hover {
    color: #0099cc;
  }
  a:active {
    color: #ff0000;
  }
.vertical-nav  {
    width: 200px;
    background-color: #f4f4f4;
    float: left;
    padding-top: 10px;
    height: 75vh;
    padding-right: 40px;
}
.vertical-nav a {
    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;
    text-align: left;
}
.vertical-nav a:hover {
    background-color: #ddd;
}
.content {
    width: 60%;
    margin-left: 500px;
    padding: 20px;
    text-align: left;
}
footer {
    background-color:rgb(10,15,26);
    color: #0099cc;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.wrapper {
    display: flex;
  }
  
  .wrapper > div {
    flex: 1;
    text-align: center;
  }
#kuva1 { 
    width: 200px; height: 200px;
    display: block;
    
    
}
figure {
    position: fixed;
    top: 230px;
    text-align: center;

}
