body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #ffffff;
    background-color: #0c0c0c;
    margin: 0;
    padding: 0;
}
.navbar-brand {
    padding-left : 60px;
}
.navbar-nav {
    padding: 0px;
    font-size: 20px;
}
a:hover {
    color: #ff0000;
}
a:link {
    color: #ffffff;
}

.img-fluid {
    object-fit: cover;
    position: relative;
    color: white;
    text-shadow: 2px 2px 4px #000000;
  position: center;
width: 40%;
height: 40%;
margin-left: 30%;
margin-right: 30%;
border-radius: 10px;

}

.text-below {
   text-align: center;
    font-size: 40px;
   
}
.image-container {
    position: relative;
    overflow: hidden;
}
.image {
    display: block;
    max-width: 100%;
    position: absolute;
}